body {
  font-family: arial, sans-serif;
}

h1 {
  color: #113f67;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

.overview ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #38598b;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-container {
  max-width: 700px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
}

.weather-app {
  padding: 20px;
  border: 1px solid #8db2e4;
  border-radius: 5px;
  background-color: #e7eaf6;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.row .btn {
  background-color: #a2a8d3;
  color: #113f67;
}

#date {
  font-size: 24px;
  color: #747cb8;
  padding-bottom: 10px;
}

#forecast {
  margin: 30px 10px 10px 10px;
  max-width: 90%;
}
